* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "SF Pro Text", "SF Pro Display", "Myriad Set Pro", system-ui,-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
}

header {
    width: 100%;
    background-color: #F5F5F7;
    position: fixed;
    z-index: 1000;
    margin-bottom: 112px;
}

.countrybar {
    width: 980px;
    height: 66px;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.countrytext {
    width: 500px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    font-weight: 400;
}

.countryselect {
    width: 343px;
    height: 36px;
    position: relative;
}

.countryselect select {
    width: 343px;
    height: 36px;
    background-color: #FAFAFC;
    border: none;
    border-radius: 10px;
    padding-left: 43px;
    padding-right: 35px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    outline: none;
}


.tickicon {
    position: absolute;
    left: 12px;
    top: 8px;
    width: 20px;
    height: 20px;
}


.Continue {
    margin-left: 16px;
    background-color: #1D1D1F;
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 9px 16px;
    border-radius: 8px;
}

.xicon {
    margin-left: 15px;
    object-fit: contain;
}

nav {
    width: 980px;
    height: 45px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(245, 245, 247, 0.8);
}


nav a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
}


.applelogo {
    width: 17px;
    height: 20px;
    margin-top: 8px;
}


.navicon {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.lastchance {
    width: 100%;
    height: 162px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #1D1D1F;
    font-size: 14px;
    padding-top: 100px; 
    /* margin-top: 50px; */
}

.lastchance a {
    margin-left: 5px;
    text-decoration: none;
    color: #0066CC;
}

#chance1 {
    color: #1D1D1F;
    font-size: 14px;
text-decoration: underline;
}

.lastchance a:hover {
    text-decoration: underline;
}

.iphonehero {
    width: 100%;
    height: 520px;
    background-color: black;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding-top: 100px;
}

.herotext {
    position: absolute;
    width: 100%;
    top: 45px;
    left: 0;
    z-index: 2;
}


.herotext h1 {
    color: #F5F5F7;
    font-size: 56px;
    line-height: 60px;
    font-weight: 600;
}


.herotext h2 {
    color: #F5F5F7;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    margin-top: 4px;
}

.herobuttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 17px;
}

.herobuttons a {
    text-decoration: none;
    font-size: 17px;
}

.learnmore {
    background-color: #0077ED;
    color: white;
    padding: 11px 21px;
    border-radius: 25px;
}


.buy {
    color: #2997FF;
    border: 1px solid #2997FF;
    padding: 10px 20px;
    border-radius: 25px;
}


.buy:hover {
    background-color: #0077ED;
    color: white;
}


.iphone18 {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: -160px;
    display: block;
}

.iphoneduo {
 width: 100%;
height: 600px;
background-color: #F5F5F6;
text-align: center;
background-image: url(hero_iphone_duo_announce__fh4u8yzndpe2_mediumtall_2x.jpg);
background-size: 880px auto; 
background-repeat: no-repeat;
background-position: 240px 60px;
padding-top: 50px;
margin-top: 10px;
}

.iphoneduo a {
      text-decoration: none;
}


.iphoneduo-pre {
    position: absolute;
    width: 100%;
    top: 45px;
    left: 0;
    z-index: 2;
}


.iphoneduo div h1 {
    color: #1D1D1F;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 56px;
    line-height: 60px;
    font-weight: 600;
    letter-spacing: -0.3px;
    text-decoration: none;
}


.iphoneduo div h2 {
    color: #1D1D1F;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    margin-top: 7px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-decoration: none;
    padding-bottom: 8px;
}

.iphoneduo div div {
   color: #6E6E73;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19px;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-decoration: none;
}

.herobuttons1 {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 17px;
}

.herobuttons1 a {
    text-decoration: none;
    font-size: 17px;
}

.learnmore1 {
    background-color: #0077ED;
    color: white;
    padding: 11px 21px;
    border-radius: 25px;
}


.buy1 {
    color: #2997FF;
    border: 1px solid #2997FF;
    padding: 10px 20px;
    border-radius: 25px;
}

.upgrade-parent {
    background-image: url(appleupgradebackground.jpg);
    background-color: #F5F5F6;
    width: 100%;
    height: 545px;
    background-repeat: no-repeat;
    background-position: center -10px;
    background-size: 850px auto;
    margin-top: 10px;
    text-align: center;
}

.upgrade-parent a {
       text-decoration: none;
}

.upgrade-parent img {
    margin-top: 50px;
 
}

.upgrade-parent h2 {
    color: #1D1D1F;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 27px;
    line-height: 60px;
    font-weight: 500;
    letter-spacing: -0.3px;
margin-top: -25px;
margin-left: -10px;
margin-bottom: 10px; 

}

.learnmore2 {
    background-color: #0077ED;
    color: white;
    margin-top: 30px;
    padding: 11px 21px;
    border-radius: 25px;
}

.incredible-containers {
background-color: #FFFFFF;
margin-top: 10px;
flex-wrap: wrap;
/* border: 2px solid blue; */
display: flex;
gap: 10px;
margin-left: 10px;
}



.incredible-child:nth-child(1) {
width: 49%;
text-decoration: none;
/* border: 2px solid red; */
background-color: #F5F5F7;
height: 570px;
position: relative;
overflow: hidden;
}

.incredible-child h2 {
    color: #1D1D1F;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 37px;
    line-height: 44px;
    font-weight: 600;
    text-align: center;
margin-top: 55px;
position: relative;
z-index: 2;
}

.incredible-child p {
    color: #1D1D1F;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19px;
    line-height: 20px;
    font-weight: 500;
    margin-top: 5px;
    letter-spacing: 0.23px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.findyourdeal {
    background-color: #0077ED;
    color: white;
   top: 4.7%;
    padding: 9px 19px;
    border-radius: 25px;
    position: relative;
    z-index: 2;
    margin-left: 250px;
    text-decoration: none;
}

.promocarriers {
  position: absolute;
top: -8%;
left: 0%;
z-index: 1;
width: 1000px;
height: auto;
}

.incredible-child:nth-child(2) {
    width: 49%;
    /* border: 2px solid green; */
    background-color: #010001;
    height: 570px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.series12 {
width: 800px; 
  
}

.watchseriesmain {
position: absolute;
top: 10%;
left: 28%;
width: 290px;
z-index: 2;
}

.accurate-heart {
position: absolute;
z-index: 2;
bottom: 18%;
left: 31%;
color: #F5F5F7;
font-family: "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 19px;
line-height: 24px;
text-align: center;
font-weight: 600;
}

.seriesbuttons {
display: flex;
 position: absolute;
 bottom: 8.5%;
 left: 36.8%;
gap: 14px;
z-index: 3;
} 

.seriesbuttons a {
    text-decoration: none;
    font-size: 17px;
}

.learnmore7 {
    background-color: #0077ED;
    color: white;
    padding: 6px 14px;
    border-radius: 25px;
}

.buy7 {
    color: #2997FF;
    border: 1px solid #2997FF;
    padding: 7px 17px;
    border-radius: 25px;
}

.incredible-child:nth-child(3) {
     width: 49%;
    /* border: 2px solid purple; */
    background-color: #010101;
    height: 570px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: #F5F5F7;
}

.watchultra {
margin-top: 55px;
width: 290px;
position: absolute;
z-index: 3;
right: 27%;
}

.watchultra2 {
width: 1023px;
margin-top: 0px;
position: absolute;
top: -3%;
left: -0.5%;
}

#battery {
font-family: "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 20px;
font-weight: 520;
color: #F5F5F7;
margin-top: 105px;
}

.seriesbuttons8 {
display: flex;
 position: absolute;
 top: 25%;
 left: 35.8%;
gap: 14px;
z-index: 3;
} 

.seriesbuttons8 a {
    text-decoration: none;
    font-size: 17px;
}

.learnmore8 {
    background-color: #0077ED;
    color: white;
    padding: 6px 14px;
    border-radius: 25px;
}

.buy8 {
    color: #2997FF;
    border: 1px solid #2997FF;
    padding: 7px 17px;
    border-radius: 25px;
}


.incredible-child:nth-child(4) {
    width: 49%;
      /* border: 2px solid yellow; */
      height: 570px;
      position: relative;
      overflow: hidden;
      text-decoration: none;
        text-align: center;
  z-index: 1;
}


.airpods5 {
    color: #F5F5F7;
    font-family: "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: 44px;
    font-weight: 600;
    letter-spacing: 0px;
  position: absolute;
  z-index: 3;
  bottom: 30%;
  left: 33%;
}

#discoverthepower {
    position: absolute;
    z-index: 3;
    bottom: 20%;
    left: 29%;
    color: #F5F5F7;
    font-family: "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21.5px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: center;
}

.seriesbuttons9 {
display: flex;
 position: absolute;
 bottom: 11.5%;
 left: 32.8%;
gap: 14px;
z-index: 3;
} 

.seriesbuttons9 a {
    text-decoration: none;
    font-size: 17px;
}

.learnmore9 {
    background-color: #0077ED;
    color: white;
    padding: 6px 14px;
    border-radius: 25px;
}

.buy9 {
    color: #2997FF;
    border: 1px solid #2997FF;
    padding: 7px 17px;
    border-radius: 25px;
}

.incredible-child:nth-child(5) {
    width: 49%;
    /* border: 2px solid orangered; */
    height: 570px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    z-index: 1;
}

#Macbookair {
   color: #1D1D1F;
font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 37px;
line-height: 44px;
font-weight: 600;
text-align: center;
top: 9%;
left: 31%;
position: absolute;
z-index: 3;
}

#supercharged {
        color: #1D1D1F;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19px;
    line-height: 20px;
    font-weight: 540;
  top: 16.5%;
  left: 30.5%;
    letter-spacing: 0.23px;
    text-align: center;
    position: absolute;
    z-index: 3;

}

.seriesbuttons10 {
display: flex;
 position: absolute;
 top: 23%;
 left: 32.8%;
gap: 14px;
z-index: 3;
} 

.seriesbuttons10 a {
    text-decoration: none;
    font-size: 17px;
}

.learnmore10 {
    background-color: #0077ED;
    color: white;
    padding: 6px 14px;
    border-radius: 25px;
}

.buy10 {
    color: #2997FF;
    border: 1px solid #2997FF;
    padding: 7px 17px;
    border-radius: 25px;
}

.macbookairpromo {
    margin-top: -34px;
}

.incredible-child:nth-child(6) {
  width: 49%;
    background-color: #F5F5F7;
      /* border: 2px solid brown; */
      height: 570px;
      position: relative;
      overflow: hidden;
      z-index: 1;
      text-align: center;
      justify-content: center;
      text-decoration: none;
}

.maincard {
margin-top: 60px;
width: 120px;
position: absolute;
z-index: 3;
right: 41%;
}

.maincardpurchase {
     color: #1D1D1F;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19px;
    line-height: 20px;
    font-weight: 540;
  top: 19.5%;
  left: 30.5%;
    letter-spacing: 0.23px;
    text-align: center;
    position: absolute;
    z-index: 3;
margin-top: -10px;
}

.seriesbuttons11 {
display: flex;
 position: absolute;
 top: 28.5%;
 left: 32.8%;
gap: 14px;
z-index: 3;
} 

.seriesbuttons11 a {
    text-decoration: none;
    font-size: 17px;
}

.learnmore11 {
    background-color: #0077ED;
    color: white;
    padding: 6px 14px;
    border-radius: 25px;
}

.buy11 {
    color: #2997FF;
    border: 1px solid #2997FF;
    padding: 7px 15px;
    border-radius: 25px;
}

.entertainment-parent {
    background-color: #F5F5F6;
    margin-top: 15px;
}

.entertainment-parent h2 {
    color:#000000;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 56px;
line-height: 60px;
font-weight: 600;
padding: 55px 55px 10px 10px;
margin-bottom: 15px;
text-align: center;
}

.entertainment-cards {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 12px;
    scroll-snap-type: x mandatory;
}

.card1 {
Width: 934px;
Height: 514px;
  flex-shrink: 0;
overflow: hidden;
scroll-snap-align: center;
}

.card1 img {
    height: 100%;
    object-fit: cover;
}

.terms-parent {
    background-color: #F5F5F6;
    padding-bottom: 7px;
}

.terms {
    color: RGBA(0, 0, 0, 0.56);
    font-size: 12px;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron",
"Helvetica Neue", Arial, Helvetica, sans-serif
sans-serif;
font-weight: 400;
letter-spacing: -0.12px;
margin: 0px 100px;
}

.terms p {
    margin-bottom: 12px;
}

.terms ol {
    margin-left: 18px;
    margin-bottom: 0px;
}

.terms ol li {
    padding-left: 4px;
    margin-bottom: 12px;
}

.terms li p {
    margin-top: 12px;
    margin-bottom: 0px;
}

.terms a {
    color: RGBA(0, 0, 0, 0.56);
}

footer {
    background-color: #F5F5F6;
}


.footer-child {
  display: flex;
margin: 0px 185px;
  width: 930px;
    flex-shrink: 0;
    gap: 50px;
    flex-wrap: nowrap;
     padding-top: 10px;
    padding-bottom: 30px;
}

.footer-child div {
    display: flex;
    flex-direction: column;
    gap: 1px;
}


.footer-child > div > div {
    display: flex;
    flex-direction: column;

}


.footer-child span {
    display: block;
    color: RGBA(0, 0, 0, 0.88);
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica Arial, sans-serif;
    font-size: 12px;
    line-height: 16.0005px;
    letter-spacing: -0.12px;
    font-weight: 600;
    margin-bottom: 7px;
    margin-top: 14px;
}

.footer-child a {
    color: RGBA(0, 0, 0, 0.72);
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica Arial, sans-serif;
    font-size: 12px;
    line-height: 16.0005px;
    font-weight: 400;
    letter-spacing: -0.12px;
    text-decoration: none;
    margin-bottom: 7px;
}

.footer-child a:hover {
    text-decoration: underline;
}

.footer-bottom {
    width: 980px;
    margin: 0px auto;
    padding-bottom: 25px;
}

.more-ways {
    color: RGBA(0, 0, 0, 0.56);
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: -0.12px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.more-ways a {
    color: #0066CC;
    text-decoration: underline;
}

.footer-line {
    border-top: 1px solid RGBA(0, 0, 0, 0.16);
}

.copyright-parent {
    display: flex;
    align-items: center;
    padding-top: 18px;
    color: RGBA(0, 0, 0, 0.56);
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: -0.12px;
}

.copyright {
    margin-right: 35px;
}

.footer-anchor {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-anchor a {
    color: RGBA(0, 0, 0, 0.72);
    text-decoration: none;
}

.footer-anchor a:hover {
    text-decoration: underline;
}

.footer-anchor span {
    color: RGBA(0, 0, 0, 0.32);
}

.country {
    margin-left: auto;
    color: RGBA(0, 0, 0, 0.72);
}